# Runs the script 5 minutes after reboot, allowing other services to start up.
# Validate with "crontab -l | crontab -"
@reboot /bin/sleep 300 && /usr/bin/nohup /home/<username>/proxy/run_proxy.sh > /dev/null 2>&1 &